.etap-jeden{
    background-color:#17594A;
    height: 100vh;
  }
  .tekst-jeden{
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      font-family: 'Libre Baskerville', serif;
      font-family: 'Tilt Prism', cursive;
      color: aliceblue;
      margin-bottom: 30px;
      padding-bottom: 10px;
  
  
  }
  .zmiana-koloru{
    color:yellowgreen;
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Baskerville', serif;
    
  
  }
  .nav-link{
    font-family: 'Libre Baskerville', serif;
      font-family: 'Tilt Prism', cursive;
    color: aliceblue;
  }
  .navbar-brand{
    color:yellowgreen ;
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Baskerville', serif;
  }
  .szukac{
    background-color:yellowgreen;
  
  }
  .etap-dwa{
    height: 50vh;
    background-color: #17594A;
    
  
  }
  
  .gory{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
   
    
  }
  .etap-trzy{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  
  }
  .etap-cztery{
    height: 100vh;
    background-color: #8EAC50;
  }
  
  .foto_ana{
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
    .podpis_foto_ana{
      text-align: center;
  
      font-family: 'Dancing Script', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Tilt Prism', cursive;
  
    }
  
    
  
  .olsnienie{
    color: azure;
  
  }
  .bottom_rules{
  
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Tilt Prism', cursive;
  }
    
  