<!DOCTYPE html>
<head>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./style.css">
<title>Lista Fachowców</title>
</head>

<body>
  <h1>Fachowcy</h1>
  <ol>
    <li>Informatyk</li>
    <li>Lekarz</li>
  </ol>
  <ul>
    <li>Prawnik</li>
    <li>Nauczyciel</li>
    <li>Dentysta</li>
    <li>Księgowy</li>
    <li>Psycholog</li>
    <li>Architekt</li>
    <li>Dietetyk</li>
    <li>Projektant graficzny</li>
    <li>Marketingowiec</li>
    <li>Fotograf</li>
    <li>Programista</li>
    <li>Farmaceuta</li>
    <li>Elektryk</li>
    <li>Mechanik</li>
    <li>Instruktor fitness</li>
    <li>Fryzjer</li>
    <li>Kucharz</li>
    <li>Kominiarz</li>
  </ul>
 
</body>
<%- include("public/footer.ejs") %>
</html>
