
.loginTitle {
    color: blue;
    font-size: 24px;
   
  }
  
  .loginForm {
    color: red;
  }
  
  .loginInput {
   color: blueviolet;
  }

  .login{
    background-color: aqua;
  }

  .loginCenter{
    justify-content: center;
    text-align: center;
    color: #C51605;
    margin-top: 150px;
    background-color: #FFE17B; 
  }
  